{% extends "base.html" %}
{% block content %}
<form action="/results" method="post">
<div style = "display: flex;justify-content: center;align-items: center;">
    <figure class="text-center">
        <h1 style="color: #807068; font-family: Optima,sans-serif" class="text-muted">
            MOODBOARD
        </h1>
        <p>
    <div class="display-6">
        <label for="image" class="blockquote">Image Search</label>
        <input type="text" class="form-control" id="image" name="image">
    </div>
    <div class="lead">
        <label for="num" class="blockquote">Number of Images</label>
        <input type="text" class="form-control" id="num" name="num">
    </div>
    <div class="lead">
        <label for="key" class="blockquote">Access Key</label>
        <input type="text" class="form-control" id="key" name="key">
    </div>
        </p>
     <p><input class="btn btn-primary btn-sm" type="submit" class="form-control" style="background-color: #514A3A; border-color: #5C543D; font-family: Verdana,sans-serif; font-size: 14px" name = "submit1" value="Find Images"></p>
    </figure>
</div>
</form>
<form action="/colorp" method="post">
        <figure class="text-center">
        <h1 style="color: #807068; font-family: Optima,sans-serif" class="text-muted">
            COLOR PALETTE
        </h1>
     <p>
        <label for="color-toggle" class="lead">Choose Color</label>
        <input type = "color" id = "color-toggle" name="color-toggle">
     </p>
    <div class="lead">
        <p><input class="btn btn-primary btn-sm" type="submit" class="form-control" style="background-color: #514A3A; border-color: #5C543D; font-family: Verdana,sans-serif; font-size: 14px" name = "submit5" value="Create Palette"></p>
    </div>
  </figure>
</form>
{% endblock %}